body {
	background-color: lightgray;
	font-family: oxygen;
}

header {
	background-image: url(brown.jpg);
}

nav {
	position: relative;
	float: left;
	padding-left: 50px;
}

nav a {
	text-decoration: none;
}

nav a:hover {
	color:  orange;
	text-decoration: underline;
	}

.links {
	text-align: center;
	width: 1300px;
	padding-top: 15px;
}

.links li {
	display: inline-block;
	margin: 0 2%;
}

.links li:active {
	color: purple;
}

h1 {
	padding-left: 17%;
}

h2 {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: black;
	padding-bottom: 15px;
}

h3 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
}

h4 {
	font-size: 40px;
	font-weight: bold;
	padding-top: 15px;
}

h5 {
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
}

h6 {
	padding-top: 20px;
}

.classicos {
	width: 1300px;
	margin: 0 auto;
	padding: 50px 0;
}

.classicos li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 2% 2% 2% 2%;
	padding: 30px 20px;
	box-sizing: content-box;
	border: 6px solid black;
	border-radius: 15px;
}

.comprar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.comprar:hover {
	background: red;
}

footer {
	text-align: center;
	background: url(black.jpg);
	padding: 40px 0;
}

.copyright {
	color: white;
	font-weight: bold;
	font-size: 17px;
	margin: 20px 0 0;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 10px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background-color: grey;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid black;
	padding: 8px 15px;
}